.imageCard{
    height: 30rem;
    width: 20rem;
    margin: 1rem;
    img{
        height: calc(100% - 3.25rem);
        width: 100%;
        object-fit: cover;
    }
    .card-desc{
        display: flex;
        justify-content: space-between;
        color: #8BB43F;
        font-size: 1.25rem;
    }
    .description{
        height: 2rem;
        color: #ccc;
        text-align: center;
        // background-color: #ccc;
    }
    .star{
        img{
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}