.nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    color: #8BB43F;
    z-index: 1000;
    .selected{
        border-bottom: solid #8BB43F 5px;
    }
    #logo, nav ul{
        display: flex;
        align-items: center;
    }
    #logo{
        font-family: "Lobster", cursive;
        img{
            padding: 0.5rem;
            height: 5.5rem;
        }
    }
    nav ul{
        list-style: none;
        li{
            padding: 1rem;
            border-bottom: solid transparent 5px;
            cursor: pointer;
            z-index: 1000!important;
        }
    }
}
