* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.error{
    color: #E84E4F;
}
button, input, textarea{
    border: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: inherit;
}

.feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.heading{
    display: flex;
    font-size: 1.5rem;
    margin: auto;
    width: 90%;
    font-weight: 300;
    h1{
        font-weight: 400;
        color: #8BB43F;
        padding-left: 1rem;
    }
}

.button{
    background-color: #8BB43F;
    color: #fff;
    padding: 0.75rem 4rem;
    border-radius: 2rem;
    width: auto;
    margin: 1rem;;
    cursor: pointer;
}

@import "./nav";
@import "./login";
@import "./imageCard";
@import "./photo";
@import "./post";